body{
  width:960px;
  margin:0 auto;
}
header{
  background-color:#301c84;
  margin: 0 auto;
  height:80px;
}
nav ul li a{
  text-decoration:none;
  color:white;
  font-weight:bold;
}
nav ul li{
  display:inline-block;
  padding:29.5px 20px;
}

h1{
  margin: 30px 20px;
}
article{
  box-sizing:border-box;
  width:300px;
  padding : 10px;
  float:left;
  height :300px;
}


aside{
  float:right;
  width:280px;
  height:600px;
  margin-bottom:40px;
}
aside img{
  box-sizing:border-box;
  display:block;
  width:280px;
  height:200px;
  padding:10px 0;
}

#house,#bowl{
  margin-right:20px;
}
#name,#food{
  margin: 0 20px;
}
p{
  text-align:justify;
}
footer{
  clear:both;
  background-color:#301c84;
  padding: 10px;
  color:white;
}
footer p{
  text-align:center;
  margin: 0;
}