body{
  width:80%;
  margin:0 auto;
  background-color:#f3ebd9;
  font-family:"맑은 고딕", "고딕", "굴림";
  
}
nav ul li{
  display:inline-block;
  padding:10px;
  list-style-position:inside;
}
header li{
  margin:28px 0;
}
a{
  text-decoration:none;
}
nav a{
  font-weight: bold;
  text-align:center;
}
header nav ul li a{
  color:white;
  font-size:18px;
}
section nav ul li a{
  color:black;
}
section nav{
  margin: 0 0;
  text-align:center;
}

section{
  padding:10px;
}

header{
  background-color:#f3c076;
  height:100px;
  margin:0 0;
  text-align:right;
}

#act{
  border:2px dotted #F38276;
  padding:0 5%;
  border-radius:50px;
}

dd{
  text-align:justify;
}

#mild{
  border:2px dashed #F376A9;
  padding:0 5%;
  border-radius:20px 50px;
}
#angry{
  border:2px dashed #C076F3;
  padding : 0 5%;
  border-radius:15px;
}
/*aside*/
aside{
  border:2px dashed #F38376;
  background-color:#ffebe8;
  padding : 2% 5%;
  border-radius: 70px 20px;
}
footer{
  background-color:#f3c076;
  font-style:italic;
  margin:20px 0;
  padding:1px;
  text-align:center;
}
footer p{
  margin:20px;
}
figcaption{
  margin: 0 0;
  text-align:center;
}
figure{
  margin : 20px 10px;
  text-align:center;
}
.top{
  margin:10px 0;
  text-align:right;
}

#topTest{
  display:block;
  margin: 0;
  text-align:center;
  background-attachment:fixed;
}
img{
  margin: 5px;
}
dd{
  margin-bottom:15px;
}