<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/assets/css/app.css" />
    <!-- Latest compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
      crossorigin="anonymous"
    />

    <!-- Optional theme -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap-theme.min.css"
      integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
      crossorigin="anonymous"
    />

    <!-- Latest compiled and minified JavaScript -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"
      integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
      crossorigin="anonymous"
    ></script>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <style>
      img {
        width: 200px;
        height: 200px;
      }
    </style>
  </head>
  <body>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        // $.ajax({
        //   url: "products.json",
        //   dataType: "json",
        //   success: function (data) {
        //     console.log(data);
        //   },
        //   error: function (err) {
        //     console.log(err);
        //   },
        // });

        var webstone = new Vue({
          el: "#app",
          data: {
            sitename: "Vue.js 용품샵",
            products: [],
            cart: [],
            showProduct: true,
            order: {
              firstName: "",
              lastName: "",
              address: "",
              city: "",
              zip: "",
              state: "",
              method: "자택 주소",
              business: "직장 주소",
              home: "자택 주소",
              gift: "선물로 보내기",
              sendGift: "선물로 보내기",
              dontSendGift: "선물로 보내지 않기",
            },
            states: {
              AL: "알라바마",
              AK: "알래스카",
              AR: "애리조나",
              CA: "캘리포니아",
              NV: "네바다",
            },
          },
          computed: {
            cartItemCount: function () {
              return this.cart.length;
            },
          },
          methods: {
            addToCart: function (product) {
              this.cart.push(product.id);
            },
            showCheckout: function () {
              this.showProduct = this.showProduct ? false : true;
            },
            submitForm: function () {
              alert("제출 완료");
            },
            checkRating: function (n, product) {
              return product.rating - n >= 0;
            },
            canAddToCart: function (product) {
              return this.cartCount(product.id) < product.stock;
            },
            cartCount: function (productId) {
              let count = 0;
              for (let i = 0; i < this.cart.length; i++) {
                if (this.cart[i] == productId) {
                  count++;
                }
              }
              return count;
            },
          },
          filters: {
            formatPrice: function (price) {
              //인트값인지 확인
              if (!parseInt(price)) {
                return "";
              }
              if (price > 99999) {
                //%1,000 이상의 값
                var priceString = (price / 100).toFixed(2);
                var priceArray = priceString.split("").reverse();
                var index = 3;
                while (priceArray.length > index + 3) {
                  priceArray.splice(index + 3, 0, ",");
                  index += 4;
                }
                return "$" + priceArray.reverse().join("");
              } else {
                return "$" + (price / 100).toFixed(2);
              }
            },
          },
          created: function () {
            fetch("products.json")
              .then((response) => response.json())
              .then((data) => {
                console.log(data.products);
                this.products = data.products;
              })
              .catch((err) => {
                console.log(err);
              });
          },
        });
      });
    </script>

    <div id="app" class="container">
      <header>
        <div class="navbar navbar-default">
          <div class="navbar-header">
            <h1>{{ sitename }}</h1>
          </div>
          <div class="nav navbar-nav navbar-right cart">
            <button
              type="button"
              class="btn btn-default btn-lg"
              @click="showCheckout"
            >
              <span class="glypicon glypicon-shopping-cart"
                >{{ cartItemCount }}</span
              >
              <span>체크아웃</span>
            </button>
          </div>
        </div>
      </header>
      <main>
        <!--보일지말지결정하는태그-->
        <div class="row product" v-if="showProduct">
          <div class="row product" v-for="product in products">
            <div class="col-md-4">
              <!--상품 이미지 출력-->
              <figure>
                <img v-bind:src="product.image" />
              </figure>
            </div>
            <div>
              <!--상품관련 정보 출력-->
              <h1 v-text="product.title"></h1>
              <p v-html="product.description"></p>
              <p class="price">{{ product.price | formatPrice }}</p>
            </div>
            <button
              class="btn btn-primary btn-lg"
              @click="addToCart(product)"
              v-bind:disabled="!canAddToCart(product)"
            >
              <!-- v-show="canAddToCart" -->
              장바구니 담기
            </button>
            <span
              class="inventory-message"
              v-if="(product.stock - cartCount(product.id)) == 0"
              >품절!</span
            >
            <span
              class="inventory-message"
              v-else-if="(product.stock - cartCount(product.id)) > 5"
            >
              {{product.stock - cartCount(product.id)}} 남았습니다.
            </span>
            <span class="inventory-message" v-else>지금 구매하세요!</span>
            <div class="rating">
              <span
                v-for="n in 5"
                v-bind:class="{'rating-active' : checkRating(n,product) }"
                >☆</span
              >
            </div>
          </div>
          <!--end v-for -->
        </div>
      </main>
      <div class="row product" v-if="showProduct"></div>
      <div class="row" v-else>
        <div class="col-md-10 col-md-offset-1">
          <div class="panel panel-info">
            <div class="panel-heading">애완용품샵 체크아웃</div>
            <div class="panel-body">
              <div class="form-group">
                <div class="col-md-12">
                  <h4><strong>정보를 입력하세요.</strong></h4>
                </div>
              </div>

              <div class="form-group">
                <div class="col-md-6">
                  <strong>이름:</strong>
                  <input class="form-control" v-model.trim="order.firstName" />
                </div>
                <div class="col-md-6">
                  <strong>성:</strong>
                  <input class="form-control" v-model.trim="order.lastName" />
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-12">
                  <strong>주소:</strong>
                </div>
                <div class="col-md-12">
                  <input class="form-control" v-model.trim="order.address" />
                </div>
              </div>

              <div class="form-group">
                <div class="col-md-12">
                  <strong>도시</strong>
                </div>
                <div class="col-md-12">
                  <input class="form-control" v-model.trim="order.city" />
                </div>
              </div>

              <div class="form-group">
                <div class="col-md-2">
                  <strong>주:</strong>
                  <select class="form-control" v-model="order.states">
                    <option disabled value="">주</option>
                    <option v-for="(state, key) in states" v-bind:value="state">
                      {{key}}
                    </option>
                  </select>
                </div>
              </div>

              <div class="form-group">
                <div class="col-md-6 col-md-offset-4">
                  <strong>우편번호</strong>
                  <input
                    class="form-control"
                    type="number"
                    v-model:number="order.zip"
                  />
                </div>
              </div>

              <div class="form-group">
                <div class="col-md-6 boxes">
                  <input
                    type="checkbox"
                    name=""
                    id="gift"
                    value="true"
                    v-bind:true-value="order.sendGift"
                    v-bind:false-value="order.dontSendGift"
                    v-model="order.gift"
                  />
                  <label for="gift">선물로 보내기</label>
                </div>
              </div>

              <div class="form-group">
                <div class="col-md-6 boxes">
                  <input
                    type="radio"
                    name=""
                    id="home"
                    v-bind:value="order.home"
                    v-model="order.method"
                  />
                  <label for="home">자택</label>
                  <input
                    type="radio"
                    name=""
                    id="business"
                    v-bind:value="order.business"
                    v-model="order.method"
                  />
                  <label for="business">직장</label>
                </div>
              </div>

              <div class="form-group">
                <div class="col-md-6">
                  <button
                    type="submit"
                    class="btn btn-primary submit"
                    @click="submitForm"
                  >
                    주문하기
                  </button>
                </div>
                <div class="col-md-12 verify">
                  <pre>
                    이름 : {{order.firstName}}
                    성 : {{order.lastName}}
                    주소 : {{order.address}}
                    도시 : {{order.city}}
                    우편번호 : {{order.zip}}
                    주 : {{order.states}}
                    배송지 : {{order.method}}
                    선물 : {{order.gift}}
                  </pre>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <!-- // <script src="js/bootstrap.min.js"></script> -->
  </body>
</html>