<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
  <script>
    /*
      1. 입력금지 문자열을 ,(콤마) 기준으로 입력할 수 있다.
      2. 제한 시간을 넣고 시작버튼을 누르면 텍스트를 넣을 수 있다.
      3. 제한 시간이 실시간으로 표시된다.
      4. 입력중 금지 문자열이 나올 경우 경고를 띄우고
         확인버튼을 누르면 해당문자열은 삭제되며 시간이 +10초 추가된다.
      5. 제한 시간이 완료되면 텍스트 입력창은 비활성화되고
         입력 창 아래 입력한 문자의 개수가 표시되며
         금지어를 사용한 횟수 * 12 한 벌점을 출력한다
    */
   document.addEventListener('DOMContentLoaded',function(){
    let v = new Vue({
      el:'#app',
      data:{
        banWord:'',
        isWritable :false,
        timer:0,
        restSec:0,
        inputText:'',
        wordArr:[],
        banCtn:0
      },
      methods:{
        startTimer:function(){
          //1초마다 1감소
          this.timeObj = setInterval(()=> {
            this.timer--;
          },1000);
        },
        startBtn: function(){
          // this.wordArr = this.banWord.split(',');
          let wa = this.banWord.split(',');
          this.wordArr = wa.map(function(val){
            return val.trim();
          })
          this.timer = this.restSec;
          this.isWritable=true;
          this.inputText='';
        },
        

      },
      watch:{
        inputText : function(){
          let wordArr = this.wordArr;
          if(wordArr.length>0){
            for(let i = 0; i<wordArr.length;i++){
              let pos =this.inputText.indexOf(wordArr[i]);
              if(pos>-1){
                alert(wordArr[i]+'(은)는 입력할 수 없습니다.');
                this.banCtn++;
                this.inputText = this.inputText.substr(0,pos);
                this.timer+=10;
                break;
              }
            }
          }
          
        },
        timer : function(){
          if(this.timer<=0){
            alert('제한시간이 종료되었습니다.');
            clearInterval(this.timeObj);
            this.isWritable=false;
          }
        }
      },
      computed:{
        resultScore : function(){
          return this.banCtn*12;
        }
      }
    });
   })
  </script>
  <div id="app">
    <h1>제한 시간내에 문자 입력하기</h1>
    <label>
      금지문자(,로 나누어 복수입력가능)
      <input type="text" v-model="banWord" v-bind:disabled="isWritable">
    </label>
    <br>
    <label>
      제한시간을 입력하세요(초)
      <input type="number" v-model.number="restSec" :disabled="isWritable">
    </label>
    <button @click="startBtn(), startTimer()" :disabled="isWritable">시작</button>
    <p>남은시간 : {{timer}}초</p>
    <textarea v-model="inputText" :disabled="!isWritable"></textarea>
    <p>{{inputText.length}}개의 문자를 입력하였습니다.</p>
    <p>벌점 : {{resultScore}}점(금지문자 1개당 12점)</p>
  </div>
</body>
</html>